<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.pasienapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ez-Medic"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuAppointment"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".IsiNotif"
            android:parentActivityName=".IsiNotif" />
        <activity
            android:name=".IsiDokter"
            android:parentActivityName=".MenuAppointment" />
        <activity
            android:name=".IsiHistory"
            android:parentActivityName=".MenuHistory" />
        <activity android:name=".InformasiObat"
            android:parentActivityName=".MenuObat"/>
        <activity
            android:name=".FormRatingDokter"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".MenuPembelianObat" />
        <activity
            android:name=".MenuObat"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".ObatBebas"
            android:parentActivityName=".MenuObat" />
        <activity
            android:name=".FotoResep"
            android:parentActivityName=".MenuObat" />
        <activity
            android:name=".MenuHistory"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".MenuLab"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".MenuRadiologi"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".RatingHistory"
            android:parentActivityName=".MenuAppointment" />
        <activity
            android:name=".ResepDokter"
            android:parentActivityName=".MenuObat" />
        <activity
            android:name=".IsiResep"
            android:parentActivityName=".ResepDokter" />
        <activity
            android:name=".SpesialisUmum"
            android:parentActivityName=".MenuAppointment" />
        <activity
            android:name=".ObatBatuk"
            android:parentActivityName=".MenuObat" />
        <activity
            android:name=".IsiLokasi"
            android:parentActivityName=".SpesialisUmum" />
        <activity
            android:name=".IsiHistoryObat"
            android:parentActivityName=".MenuHistory" />
        <activity
            android:name=".IsiHistoryAppoint"
            android:parentActivityName=".MenuHistory" />
        <activity
            android:name=".IsiHistoryRadiologi"
            android:parentActivityName=".MenuHistory" />
        <activity
            android:name=".IsiHistoryCekLab"
            android:parentActivityName=".MenuHistory" />
        <activity
            android:name=".TambahAlamat"
            android:parentActivityName=".IsiGantiAlamat" />
        <activity
            android:name=".IsiOrderResepDokter"
            android:parentActivityName=".IsiResep" />
        <activity android:name=".ProfilePasien" />
        <activity android:name=".MenuMore" />
        <activity
            android:name=".IsiGantiAlamat"
            android:parentActivityName=".IsiResep" />
        <activity
            android:name=".AddKeluarga"
            android:parentActivityName=".ProfilePasien" />
        <activity
            android:name=".PopNama"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PopTinggal"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PopEmail"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PopTelepon"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PopOrder"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PopCekHarga"
            android:theme="@style/AppTheme.CustomTheme"/>
    </application>

</manifest>